<footer class='container'>
  <div class='row'>
    <div class="span7">
      <p>
       Le <em>Guide du Datajournalisme</em> peut être copié, partagé et adapté suivant les conditions définies dans la licence <a href='http://creativecommons.org/licenses/by-sa/3.0/'>Creative Commons Attribution-ShareAlike</a>. Les contributeurs du <em>Guide du Datajournalisme</em> restent propriétaires de leurs écrits respectifs et ont accepté de les publier ici sous la même licence.
      </p>

    </div>
    <div class="span5 right-align">
          <a href="http://ejc.net"><img width="74" height="33" style="padding-right: 28px;" src="{{baseurl}}/img/ejc.gif"></a>
          <a href="http://okfn.org"><img src="{{baseurl}}/img/okfn.png"></a>
    </div>
    <div class="span5 right-align" style="margin-top:20px">
          <a href="http://eyrolles.com"><img src="{{baseurl}}/img/eyrolles.png" alt="Traduit par Eyrolles"></a>
          <a href="http://paris.jplusplus.org"><img src="{{baseurl}}/img/jplusplus.png" alt="Mis en ligne et maintenu par Journalism++"></a>
    </div>
  </div>
</footer>