<footer class='container'>
  <div class='row'>
    <div class="span7">
      <p>
       The Data Journalism Handbook can be freely copied, redistributed and reused under the terms of the <a href='http://creativecommons.org/licenses/by-sa/3.0/'>Creative Commons Attribution-ShareAlike</a> license. Contributors to the Data Journalism Handbook retain copyright over their respective contributions, and have kindly agreed to release them under the terms of this license.
      </p>

    </div>
    <div class="span5 right-align">
      <a href="http://ejc.net"><img src='../img/ejc.gif' width='74' height='33' style='padding-right: 1em;'></a>
      <a href="http://okfn.org"><img src='../img/okfn.png'></a>
      <a href="http://eyrolles.com"><img alt="Traduit par Eyrolles" src='../img/eyrolles.png'></a>
      <a href="http://paris.jplusplus.org"><img alt='Mis en ligne et maintenu par Journalism++' src='../img/jplusplus.png'></a>
    </div>
  </div>
</footer>