<div class="span3 right-align">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="jplusplus_fr" data-lang="fr" data-hashtags="ddj">Tweeter</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>