<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="Le Guide du Datajournalisme dresse un panorama des pratiques du datajournalisme aujourd'hui et donne des repères pour ceux qui veulent se lancer dans cette nouvelle branche du journalisme, à la croisée de l'investigation, du développement et du graphisme.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon" />

  <meta content="{{ site.baseurl }}/img/cover_print.png" property="og:image">
  <meta content="{{ site.baseurl }}{{ page.url }}" property="og:url">
  <meta content="{{ page.title }}" property="og:title">
  <meta content="Le Guide du Datajournalisme dresse un panorama des pratiques du datajournalisme aujourd'hui et donne des repères pour ceux qui veulent se lancer dans cette nouvelle branche du journalisme, à la croisée de l'investigation, du développement et du graphisme." property="og:description">

  <script src="{{ site.baseurl }}/js/libs/modernizr-2.5.3.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/libs/bootstrap-modal.js"></script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=249879971695460";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class='wrapper'>
    <div class='container header'>
      <div class='row'>
        <div class='title span7'>
          {{ site.title }}
          <span class='version'>{{ site.version }}</span>
        </div>
        <div class='span5 right-align'>

          <a class="btn btn-warning" href="http://www.eyrolles.com/Informatique/Livre/guide-du-datajournalisme-9782212136852">
            <i class='icon-book icon-white'></i>Acheter en ligne</a>        
        </div>
      </div>
    </div>  

    {% if page.section == 'chapter' %}

    <div class="container" id="main">
       <div class="row">
          <div class="span12">
            <div class="row">
              <div class="btn-group book-nav-top span9">
                <a href="../index.html" class="btn">Accueil</a>
                <a class="btn" href="{{ page.next_url }}">Suite: {{ page.next }}</a>
              </div>

              {% include social.html %}
              
            </div>
             
             <div id="content">
                <div class="sect1">
                   <h2 id="_introduction">{{ page.title }}</h2>
                   <div class="sectionbody">
                      <div class="imageblock">
                         <div class="content">
                            <img alt="{{ page.title }}" src="{{ page.illu }}">
                         </div>
                      </div>
                      <div class="paragraph">
                         {{ content }}
                      </div>
                   </div>
                </div>
             </div>
             <h3>Dans ce chapitre</h3>

             <ul class="toc">
                
                {% for link in site.pages_list[page.chapter] %}
                    <li><a href="{{link.url}}">{{link.title}}</a></li>
                {% endfor %}

             </ul>
             <div class="btn-group book-nav-bottom">
                <a href="../index.html" class="btn">Accueil</a>
                <a class="btn" href="{{ page.next_url }}">Suite: {{ page.next }}</a>
             </div>
         </div>
      </div>
    </div>

    {% endif %}

    {% if page.section != 'chapter' %}
    
      <div id="main" class="container">
        <div class='row'>
          <div class='span12'>
              {% if page.section == 'home' %}
              <div class="row">
                  {{ content }}
              {% endif %}

              {% if page.section == 'pages' %}
                {% assign page_short_url = page.url | split: '/' | last %}
                {% capture chapter_num %}{{ page_short_url | split: '.' | first | truncate: 2, '' }}{% endcapture %}
                {% capture page_num %}{{ page_short_url | split: '.' | first | remove_first: chapter_num }}{% endcapture %}

                {% assign chapter_name = chapter_num | prepend: 'chapter_' %}
                
                {% assign next_url = '' %}
                {% assign flag_next = 0 %}

                {% for link in site.pages_list[chapter_name] %}
                    
                    {% if flag_next == 1 %}

                      {% assign next_url = link.url %}
                      {% assign next_title = link.title %}
                      {% assign flag_next = 0 %}
                    
                    {% endif %}
                    
                    {% if link.url == page_short_url %}
                    
                      {% assign flag_next = 1 %}
                    
                    {% endif %}

                    

                {% endfor %}


                <div class="row">
                  <div class="btn-group book-nav-top span9">
                    <a href="../index.html" class="btn">Accueil</a>
                    {% if chapter_num != '01' %}
                      <a class="btn" href="{{ chapter_num }}00.html">Chapitre</a>
                    {% endif %}
                    {% if next_url != "" %}
                      <a class="btn" href="{{ next_url }}">Suite: {{ next_title }}</a>
                    {% endif %}
                  </div>

                  {% include social.html %}
                  
                </div>

                <div id="content">
                    <div class="sect2">
                        <h3>{{ page.title }}</h3>
                        {{ content }}
                    </div>
                

              {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  
  {% include footer.html %}

</body>
</html>